.card .card-body {
  padding: 0;
}

.bs-select {
  @include noselect;
  overflow-y: scroll;
  height: 100%;
  > div {
    &:not(:last-child){
      border-bottom: 1px solid #ddd;
    }
    span.author {
      margin-left: 10px;
      color: #999;
      float: right;
      &::before{
        margin-right: 3px;
        
      }
    }
    &, > div {
      &.interactive {
        cursor: pointer;
        &:hover {
          background-color: $highlight;
        }
        padding: .2rem .5rem;
      }
      &.active {
        background-color: $primary !important;
        color: white;
      }
      &.divider {
        padding: 0 .5rem;
        vertical-align: top;
        background-color: #dbe5f1;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.songpanel {
  span.translation {
    font-size: .9em;
    color: #a300d8;
    line-height: 0;
  }
}

.tabs {
  @include noselect;
  .col-auto {
    width: 20%;
  }
  .nav-pills{
    background-color: $primary !important;
    li a{
      color: lighten($primary, 40%);
      &.disabled {
        color: lighten($primary, 30%)
      }
      &.active {
        color: white;
      }
    }
  }
}

// Cards
.card {
  border-radius: 0;
  .card-header:first-child {
    border-radius: 0;
    background-color: rgba(0,0,0,0.03);
  }
  .card-header:first-child {
    border-radius: 0;
  }
}