.card .bs-select {
  margin: -20px;
}
.bs-select {
  @include noselect;
  > div:not(.error) {
    padding: 2px 10px;
    &:not(:last-child){
      border-bottom: 1px solid #ddd;
    }
    cursor: pointer;
    span.author {
      margin-left: 10px;
      color: #999;
      float: right;
      &::before{
        margin-right: 3px;
        
      }
    }
    &:hover {
      background-color: $highlight;
    }
    &.active {
      background-color: $primary;
      color: white;
    }
  }
}

.tabs {
  @include noselect;
  .col-auto {
    width: 20%;
  }
  .nav-pills{
    background-color: $primary !important;
    li a{
      color: lighten($primary, 40%);
      &.disabled {
        color: lighten($primary, 30%)
      }
      &.active {
        color: white;
      }
    }
  }
}

// Cards
.card {
  border-radius: 0;
  .card-header:first-child {
    border-radius: 0;
    background-color: rgba(0,0,0,0.03);
  }
  .card-header:first-child {
    border-radius: 0;
  }
}